<input
	type="radio"
	class="elm-radio {{ styleModifier }}"
	{{#if name}} name="{{ name }}"{{/if }}
	id="{{ id }}"
	{{#if checked}} checked{{/if }}
	{{#if disabled}} disabled{{/if }}
	value="{{ value }}"
	{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}>
<label class="elm-label" for="{{ id }}">{{ label }}</label>
