{{#unless list }}
<div class="cmp-card"{{#if variant}} data-variant="{{ variant }}"{{/if }}>
{{else}}
<!-- [html-validate-disable-next element-permitted-content, element-permitted-parent -- we're only providing a partial here] -->
<li class="cmp-card"{{#if variant}} data-variant="{{ variant }}"{{/if }}>
{{/unless}}
	{{#if hyperlink }}<a href="#">{{/if }}
		{{#if figure }}<figure>
			{{#if_eq variant "banner" }}
				<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" aria-hidden="true">
					<use href="../../icons/illustrative/{{ icon }}.svg#icon"></use>
				</svg>
			{{else}}
				{{> elements-image src="../../icons/functional/images/navigation/db_ic_list_20.svg" alt="" role="presentation" }}
			{{/if_eq }}
			<figcaption>{{/if }}
				{{#if headline}}
					<!-- [html-validate-disable-next heading-level] -->
					<h3 class="elm-headline">{{ headline }}</h3>
				{{/if }}
				{{#if text }}<p>{{{ text }}}</p>{{/if }}
			{{#if figure }}</figcaption>
		</figure>{{/if }}
	{{#if hyperlink }}</a>{{/if }}
{{#unless list }}
</div>
{{else}}
</li>
{{/unless }}
