{{#if linkEntries }}<!-- [html-validate-disable-next prefer-native-element -- TODO: Evaluate again on this HTML] -->{{/if }}
<details class="{{#if patternName }}{{ patternName }}{{else}}cmp-overflow-menu{{/if }}{{ styleModifier }}"{{#if linkEntries }} role="navigation"{{/if }}{{#if oppositePosition}} data-horizontal-position="opposite"{{/if }}>
	<summary>{{ summary }}</summary>
	{{#if linkEntries }}<ul role="group">{{else}}<menu type="toolbar">{{/if }}
		{{#if linkEntries }}
		<li>{{> elements-link href="#" value=entry01 }}</li>
		<li>{{> elements-link href="#" value=entry02 }}</li>
		{{else}}
		<li>{{> elements-button buttontype="button" value=entry01 }}</li>
		<li>{{> elements-button buttontype="button" value=entry02 }}</li>
		{{/if }}
	{{#if linkEntries }}</ul>{{else}}</menu>{{/if }}
</details>
