{{#unless size}}
	<p>
		{{ excerpt.slim }}. {{> elements-link href='#' value='Text Link' size=size }}{{ excerpt.slim }}
	</p>
	<p>
		{{ excerpt.slim }}. {{> elements-link href='#' value='Text Link (disabled)' disabled='true' size=size }}{{ excerpt.slim }}
	</p>
{{/unless }}

<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link' }}
</p>

<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link' data-variant="primary"}}
</p>

<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link (disabled)' disabled='true' }}
</p>

<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Internal link hbs' data-content='internal' size=size }}
</p>
<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='External link hbs' data-content='external' size=size }}
</p>
