<select class="elm-select {{ styleModifier }}"
	{{#if id }} name="{{ id }}" id="{{ id }}"{{/if }}
	{{#if disabled}} disabled{{/if }}
	{{#if multiple}} multiple{{/if }}
	{{#unless multiple}} required{{/unless}}
	{{#if aria-invalid }} aria-invalid="{{ aria-invalid }}" {{/if }}
	{{#if variant}} data-variant="{{variant}}"{{/if }}>
	{{#if optgroup}}<optgroup label="Devices">{{else}}{{#unless multiple}}<option></option>{{/unless}}{{/if }}
		<option value="Row 1">Smartphone</option>
		<option>Softphone</option>
		<option>Headphone</option>
		<option disabled>Row 4 / disabled</option>
		{{#if optgroup}}
	</optgroup>
	<optgroup label="Roles">
		<option>User</option>
		<option>Tester</option>
		<option>Developer</option>
	</optgroup>{{/if }}
</select>
<label class="elm-label" for="{{ id }}">{{ label }}</label>
