<iframe class="elm-youtube"
	srcdoc="<style>*{padding:0;margin:0;overflow:hidden}body,html{height:100%}img{position:absolute;width:100%;top:0;bottom:0;margin:auto}a::after{position:absolute;top:content:url('/images/overlayer_play.png')}</style><a href='https://www.youtube-nocookie.com/embed/{{ videoid }}?rel=0&amp;showinfo=0&amp;autoplay=1'><img src='https://img.youtube.com./vi/{{ videoid }}/hqdefault.jpg' referrerpolicy='no-referrer' alt='{{ title }}'></a>"
	src="https://www.youtube-nocookie.com/embed/{{ videoid }}?rel=0&amp;showinfo=0&amp;autoplay=1" title="{{ title }}"
	allow="autoplay; encrypted-media" allowfullscreen></iframe>
