<input type="radio"
	class="elm-radio {{ styleModifier }}"
	name="{{ name }}"
	id="{{ id }}"
	{{#if checked}} checked{{/if }}
	{{#if disabled}} disabled{{/if }}
	{{#if value}} value="{{ value }}"{{/if }}
	{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}
	{{#if invalid}} aria-invalid="true"{{/if }}
	{{#if required}} required{{/if}}>
<label class="elm-label" for="{{ id }}"{{#if labelHidden }} data-label-hidden="true"{{/if }}>{{ label }}</label>
