<!-- The aria-labelledby attribute on the input and related id on the label as well as aria-hidden="true" are being set for correct support within assistive tools like screenreaders //-->
<!-- [html-validate-disable-next input-missing-label] -->
<div class="elm-input"
	{{#if variant}} data-variant="{{variant}}"{{/if }}
	{{#if icon-before}} data-icon-before="{{icon-before}}"{{/if}}
	{{#if icon-before}} data-icon-after="{{icon-after}}"{{/if}}>
	<input type="{{ type }}"
		{{#if styleModifier }}class="{{ styleModifier }}"{{/if }}
		placeholder="{{ placeholder }}"
		name="{{ id }}"
		id="{{ id }}"
		{{#if disabled}} disabled{{/if }}
		value="{{ value }}"
		{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}
		{{#if aria-invalid }} aria-invalid="{{ aria-invalid }}"{{/if }}
		{{{ validation }}}
		{{#if datalist }} list="datalist{{ id }}"{{/if }}
		aria-labelledby="{{ id }}-label">
	<label for="{{ id }}"
		aria-hidden="true"
		id="{{ id }}-label">{{ label }}</label>

	{{#if description }}<p{{#if describedbyid }} id="{{ describedbyid }}"{{/if }} class="description">{{{ description }}}</p>{{/if }}

	{{!-- if span elm-icon o.ä. mit data-icon --}}
	{{#if datalist }}<datalist id="datalist-{{ id }}">
		{{#each datalistItems }}
			<option{{#if value }} value="{{ value }}"{{/if }}>{{ text }}</option>
		{{/each }}
	</datalist>
	{{/if }}
	<span class="elm-state-icon"></span>
</div>
