<div class="elm-progress">
	{{#if conic}}<!-- [html-validate-disable-next no-inline-style] -->{{/if}}
	<progress
		{{#if value}}
			value="{{ value }}"
			{{#if maximalvalue }} max="{{ maximalvalue }}"{{/if}}
			{{#if conic}} style="--progress-conic: {{ value }}"{{/if}}
		{{/if}}
		id="{{ id }}"
		{{#if type}} data-type="{{type}}"{{/if }}
		{{#if_eq type 'loader'}} aria-describedby="{{ id }}-label"{{/if_eq }}></progress>
	{{#if_eq type 'loader'}}
		{{#if value}}<label
			for="{{ id }}"
			id="{{ id }}-label"
			aria-hidden="true">{{ value }}{{ unit }}</label>
		{{/if}}
	{{/if_eq}}
</div>
