{{! TODO: evaluate on the correct role and aria-label in here }}
<table class="cmp-table {{ styleModifier }}"
	{{#if border }} data-border="{{ border }}"{{/if }}
	{{#if rows }} data-rows="{{ rows }}"{{/if }}
	{{#if density }} data-density="{{ density }}"{{/if }}
	{{#if font-size }} style="--table---fontSize: {{ font-size }}"{{/if }}
	{{#if sticky }} data-sticky="{{ sticky }}"{{/if }}>
	<caption>
		Table title
	</caption>
	<thead{{#if align}} data-align="{{ align }}"{{/if }}{{#if vertical-align}} data-vertical-align="{{ vertical-align }}"{{/if }}>
		<tr>
			{{#if rowtitle }}<th scope="col">Column header</th>{{/if }}
			<th scope="col">The table header 01</th>
			<th scope="col">The table header 02</th>
		</tr>
	</thead>
	<tbody{{#if align}} data-align="{{ align }}"{{/if }}{{#if vertical-align}} data-vertical-align="{{ vertical-align }}"{{/if }}>
		{{#each cells }}
			<tr>
				{{#if ../rowtitle }}<th scope="row">table header</th>{{/if }}
				<td{{#if @first }}{{#if ../icon}} data-icon="{{ ../icon }}"{{/if }}{{/if }}>{{{ text01 }}}</td>
				<td>{{{ text02 }}}</td>
				{{#if ../overflowMenu }}<td>{{> components-overflow-menu entry01="Edit" entry02="Delete" }}</td>{{/if }}
			</tr>
		{{/each }}
	</tbody>
</table>
