<button class="elm-button {{ styleModifier }}"
	{{#if variant }}data-variant="{{ variant }}"{{/if }}
	{{#if size }} data-size="{{ size }}"{{/if }}
	title="{{ title }}"
	type="{{#if buttontype }}{{ buttontype }}{{else}}button{{/if }}"
	{{#if role }} role="{{ role }}"{{/if }}
	{{#if disabled }} disabled{{/if }}
	{{#if icon}} data-icon="{{ icon }}"{{/if}}
	{{#if icon-after}} data-icon-after="{{ icon-after }}"{{/if}}
	{{#if label}} aria-label="{{ label }}"{{/if }}
	{{#if width }} data-width="{{ width }}"{{/if }}
	{{#if command }} command="{{ command }}"{{/if }}
	{{#if commandfor }} commandfor="{{ commandfor }}"{{/if }}>
	{{{ value }}}
</button>
