<div class="cmp-notification"{{#if type}} data-type="{{ type }}"{{/if }} role="{{ role }}"
	{{#if icon-before}} data-icon="{{ icon-before }}"{{/if }}
	{{#if icon-after}} data-icon-after="{{ icon-after }}"{{/if }}>
	{{!-- <em>{{ type }}</em> --}}
	{{#if type}}{{ type }}: {{/if }}{{ @root/excerpt.slim }}
</div>
