{{#if default}}<p>Please keep in mind that it's optional to set the variant and size for the following ones, as this size ({{ @root.icon-size }}) and style ({{ @root.icon-style }}) combination is defined as the default.<br>In case that you'll need another default in your project, you could overwrite the defaults by modifying the <code>$icon-size</code> and <code>$icon-style</code> SCSS variables.</p>{{/if }}
<ul class="DO-NOT-COPY-THIS-CLASS-example-icon-list">
	{{#each icons }}
	<li data-icon="{{ icon-glyph }}" data-icon-variant="{{ @root.icon-size }}-{{ @root.icon-style }}">
		<ul>
			<li>SCSS: {{#if @root.default}}<code>@include icon(glyph({{ icon-glyph }}))</code> or {{/if }}<code>@include icon(glyph({{ icon-glyph }}), {{ @root.icon-size }}, "{{ @root.icon-style }}")</code></li>
			<li>HTML: {{#if @root.default}}<code>data-icon="{{ icon-glyph }}"</code> or {{/if }}<code>data-icon="{{ icon-glyph }}" data-icon-variant="{{ @root.icon-size }}-{{ @root.icon-style }}"</code></li>
		</ul>
	</li>
	{{/each }}
</ul>
