{{! TODO: This would need to get enhanced later on by the additional possible attributes }}
<a
	href="{{ href }}{{#if anchorlink }}{{ anchorlink }}{{/if }}"
	class="elm-link {{ styleModifier }}"
	title="{{ title }}"
	{{#if rel }} rel="{{ rel }}"{{/if }}
	{{#if role }} role="{{ role }}"{{/if }}
	{{#if disabled}} aria-disabled="true" tabindex="-1"{{/if }}
	{{#if selected}} aria-selected="true"{{/if }}
	{{#if label}} aria-label="{{ label }}"{{/if }}
	{{#if hreflang}} hreflang="{{ hreflang }}"{{/if }}
	{{#if target}} target="{{ target }}"{{/if }}
	{{#if current}} aria-current="{{ current }}"{{/if }}
	{{#if size }} data-size="{{ size }}"{{/if }}
	{{#if data-variant}} data-variant="{{ data-variant }}"{{/if}}
	{{#if data-content}} data-content="{{data-content}}"{{/if}}
	>{{#if value }}{{{ value }}}{{ else }}{{ href }}{{/if }}</a>
