{{#if default}}<p>Please keep in mind that it's optional to set the variant combination of size ({{ @root.icon-size }}) and style ({{ @root.icon-style }}) as this is defined as the default.<br>In case that you'll need another default in your project, you could overwrite the defaults by modifying the <code>$icon-size</code> and <code>$icon-style</code> SCSS variables.</p>{{/if }}
<ol class="DO-NOT-COPY-THIS-CLASS-example-icon-list icons functional">
	{{#each icons }}<li>
		<details>
			<summary>
				<ol>
					{{#each @root.example-bgs }}
						<li class="DO-NOT-COPY-THIS-CLASS-example-bg-variants-{{ variant }}">
							<ol>
								{{#each ../variants }}
								<li data-icon="{{ ../../icon }}" data-icon-variant="{{ size }}-{{#if style }}{{ style }}{{else}}outline{{/if }}">

								</li>
								{{/each }}
							</ol>
						</li>
					{{/each }}
				</ol>
			</summary>
			<h4>{{ icon }}</h4>
			<ul>
				<li>SCSS: <code>@include icon(glyph({{ icon }}))</code></li>
				<li>HTML: <code>data-icon="{{ icon }}"</code></li>
			</ul>
		</details>
	</li>{{/each }}
</ol>
