{{#unless size}}
	<p>
		{{ excerpt.slim }}. {{> elements-link href='#' value='Text Link' size=size }}{{ excerpt.slim }}
	</p>
	<p>
		{{ excerpt.slim }}. {{> elements-link href='#' value='Text Link (disabled)' disabled='true' size=size }}{{ excerpt.slim }}
	</p>
{{/unless }}

<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link' }}
</p>
<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link' icon='settings' }}
</p>
<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser link (disabled)' disabled='true' }}
</p>
<p class="{{ styleModifier }}">
	{{> elements-link href='#' value='Teaser Link (disabled)' icon-after='account' disabled='true' size=size }}
</p>
