{{! TODO: the retrieval of the standard values doesn't work so far }}
<label class="elm-label" for="{{ id }}"{{#if labelHidden }} data-label-hidden="true"{{/if }}>{{ label }}</label>
<textarea class="elm-textarea {{ styleModifier }}"
	placeholder="{{ placeholder }}"
	id="{{ id }}"
	{{#if disabled}} disabled{{/if }}
	{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}
	{{{ validation }}}
	{{#if maxlength }} maxlength="{{ maxlength }}"
	{{#if invalid }} aria-invalid="{{ invalid }}"{{/if }}
	oninput="result_{{ id }}.value=this.value.length+'/'+this.attributes.maxlength.value"{{/if }}
	{{#if variant}} data-variant="{{variant}}"{{/if }}>{{ value }}</textarea>
{{#if maxlength }}<output for="{{ id }}" id="result_{{ id }}"></output>{{/if }}
{{#if description }}<p{{#if describedbyid }} id="{{ describedbyid }}"{{/if }} class="description">{{{ description }}}</p>{{/if }}
