<select class="elm-select {{ styleModifier }}"
	{{#if id }} name="{{ id }}" id="{{ id }}"{{/if }}
	{{#if disabled}} disabled{{/if }}
	{{#if multiple}} multiple{{/if }}
	{{#if required}} required{{/if}}
	{{#if invalid }} aria-invalid="{{ invalid }}" {{/if }}
	{{#if variant}} data-variant="{{variant}}"{{/if }}>
	{{#if optgroup}}<optgroup label="Devices">{{else}}{{#unless multiple}}{{#unless labelHidden}}<option></option>{{/unless}}{{/unless}}{{/if }}
		<option value="smartphone">Smartphone</option>
		<option value="softphone">Softphone</option>
		<option value="headset">Headset</option>
		<option value="fax" disabled>Fax / disabled</option>
		{{#if optgroup}}
	</optgroup>
	<optgroup label="Roles">
		<option value="user">User</option>
		<option value="tester">Tester</option>
		<option value="developer">Developer</option>
	</optgroup>{{/if }}
</select>
<label class="elm-label" for="{{ id }}"{{#if labelHidden }} data-label-hidden="true"{{/if }}>{{ label }}</label>
