<!-- The aria-labelledby attribute on the input and related id on the label as well as aria-hidden="true" are being set for correct support within assistive tools like screenreaders //-->
<input type="{{ type }}"
	class="elm-input {{ styleModifier }}"
	placeholder="{{ placeholder }}"
	name="{{ id }}"
	id="{{ id }}"
	{{#if disabled}} disabled{{/if }}
	value="{{ value }}"
	{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}
	{{#if invalid }} aria-invalid="{{ invalid }}"{{/if }}
	{{{ validation }}}
	{{#if datalist }} list="datalist{{ id }}"{{/if }}
	aria-labelledby="{{ id }}-label"
	{{#if variant}} data-variant="{{variant}}"{{/if }}
	{{#if maxlength }} maxlength="{{ maxlength }}"
	oninput="result_{{ id }}.value=this.value.length+'/'+this.attributes.maxlength.value"{{/if }}>
<label class="elm-label"
	for="{{ id }}"
	aria-hidden="true"
	id="{{ id }}-label"
	{{#if labelHidden }} data-label-hidden="true"{{/if }}>{{ label }}</label>
{{#if maxlength }}<output for="{{ id }}" id="result_{{ id }}" anchor="{{ id }}"></output>{{/if }}
{{#if description }}<p{{#if describedbyid }} id="{{ describedbyid }}"{{/if }} class="description">{{{ description }}}</p>{{/if }}
{{#if datalist }}<datalist id="datalist{{ id }}">
	{{#each datalistItems }}
		<option{{#if value }} value="{{ value }}"{{/if }}>{{ text }}</option>
	{{/each }}
</datalist>{{/if }}
