<input type="checkbox"
	role="switch"
	class="elm-toggle
	{{ styleModifier }}"
	id="{{ id }}"
	{{#if checked}} checked{{/if }}
	{{#if disabled}} disabled{{/if }}
	{{#if value}} value="{{ value }}"{{/if }}
	{{#if describedbyid }} aria-describedby="{{ describedbyid }}"{{/if }}>
<label class="elm-label" for="{{ id }}">{{ label }}</label>
